__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/
.mypy_cache/
*.egg-info/
.venv/
env/
venv/
.env
scored.csv
.ipynb_checkpoints/
.coverage
htmlcov/
coverage.xml
.import_linter_cache/
*.egg-info/
build/
dist/
